{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/connection/connection-min.js"></script>

<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/json/json-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/deeds.js"</script>
{% endblock extra_head %}

{% block body %}
<h1>Our deeds on Earth are echoed in the halls of Valhalla.</h1>
<div id="json"></div>
<form>
	<p><label for="speaker">Speaker</label><input type="text" id="speaker" /></p>
	<p><label for="text">Text</label><textarea id="text"></textarea></p>
	<p><label for="date">Date and Time</label><input type="text" id="date" /></p>
	<input type="button" value="Post" onClick="deeds.post.request();" />
</form>
<div id="post_status"></div>
{% endblock body %}
